<p-card [styleClass]="'mb-2'">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-4">
      <div class="story-cover-img d-flex justify-content-center">
        <img [src]="'https://comicparadise.blob.core.windows.net/cover-image/3f2b6b2b-8adb-4fa7-8592-d04aa0b2e4ad.jpg'"
          [alt]="'Test'" class="shadow-4 story-img" />
      </div>
      <div class="story-actions mt-3">
        <div class="story-actions-up w-100 d-flex my-2">
          <p-button label="1.1k" severity="danger" icon="pi pi-heart" [style]="{width: '100%'}"
            class="flex-grow-1 me-1 border border-danger rounded" />
          <p-button label="15k" severity="secondary" icon="pi pi-eye" [style]="{width: '100%'}"
            class="flex-grow-1 ms-1 border border-secondary rounded" />
        </div>
        <div class="story-actions-down w-100 d-flex">
          <p-button label="Đọc từ đầu" severity="success" icon="pi pi-book" [style]="{width: '100%'}"
            class="flex-grow-1" />
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
      <div class="story-infor-detail">
        <h2 class="story-title">Sát Long Nhân Hồi Quy Siêu Việt</h2>
        <p class="story-author"><strong>Tác giả:</strong> Tác Giả Nổi Tiếng</p>
        <p class="story-genre"><strong class=" me-2">Thể loại:</strong>
          <p-tag severity="info" value="Hành động" [rounded]="true" class="m-1" />
          <p-tag severity="info" value="Phiêu lưu" [rounded]="true" class="m-1" />
        </p>

        <p class="story-status"><strong>Trạng thái:</strong> Đang tiến hành</p>
        <p class="story-description">
          Zeke Draker, hậu duệ trực hệ đầu tiên của gia tộc Sát Long Nhân không thể thức tỉnh. Sở hữu tài năng của một
          người chữa bệnh thay vì một kiếm sĩ, anh đã bị gia đình đuổi đi. Trong nỗ lực tuyệt vọng để trở nên mạnh mẽ
          hơn, Zeke đã gặp phải một kết cục bi thảm. Vào thời điểm anh qua đời, những lời bí ẩn hiện ra trước mắt
          anh:[Linh hồn của một Rồng già được khắc trên ý chí của người kiên trì.][Một sức mạnh không thể đảo ngược, đã
          hứa đang được kích hoạt.]
          Khi anh tỉnh lại, anh thấy mình đã trở lại gia tộc Sát Long Nhân đã bỏ rơi anh, 20 năm trước. "Nếu tôi có thể
          trở nên mạnh mẽ, tôi sẽ sử dụng mọi thứ và mọi thứ."
          Được trang bị sức mạnh bất tử mới tìm thấy, truyền thuyết về một Sát Long Nhân trong một đẳng cấp riêng của
          anh bắt đầu.
        </p>
      </div>
    </div>
  </div>

</p-card>


<p-card header="Danh sách chương (15)" [styleClass]="'mb-2'">
  <div class="chapter-action d-flex justify-content-end my-3">
    <p-button label="Chương đánh dấu - 3" severity="warn" icon="pi pi-bookmark-fill"
      class=" border border-warn rounded" />
  </div>
  <div class="chapter-list">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
        <div class="chapter-item d-flex align-items-center p-3 border border-secondary rounded">
          <div class="chapter-item-icon me-2">
            <i class="pi pi-circle-fill text-danger" style="font-size: 16px;"></i>
          </div>
          <div class="chapter-item-infor flex-grow-1 d-flex justify-content-between">
            <span class="chapter-number font-bold">#1</span>
            <span class="chapter-time text-700">4 giờ trước</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
        <div class="chapter-item d-flex align-items-center p-3 border border-secondary rounded">
          <div class="chapter-item-icon me-2">
            <i class="pi pi-circle-fill text-danger" style="font-size: 16px;"></i>
          </div>
          <div class="chapter-item-infor flex-grow-1 d-flex justify-content-between">
            <span class="chapter-number font-bold">#1</span>
            <span class="chapter-time text-700">4 giờ trước</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
        <div class="chapter-item d-flex align-items-center p-3 border border-secondary rounded">
          <div class="chapter-item-icon me-2">
            <i class="pi pi-circle-fill text-danger" style="font-size: 16px;"></i>
          </div>
          <div class="chapter-item-infor flex-grow-1 d-flex justify-content-between">
            <span class="chapter-number font-bold">#2</span>
            <span class="chapter-time text-700">4 giờ trước</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
        <div class="chapter-item d-flex align-items-center p-3 border border-secondary rounded">
          <div class="chapter-item-icon me-2">
            <i class="pi pi-circle-fill text-danger" style="font-size: 16px;"></i>
          </div>
          <div class="chapter-item-infor flex-grow-1 d-flex justify-content-between">
            <span class="chapter-number font-bold">#3</span>
            <span class="chapter-time text-700">02-03-2025</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3">
        <div class="chapter-item d-flex align-items-center p-3 border border-secondary rounded">
          <div class="chapter-item-icon me-2">
            <i class="pi pi-circle-fill text-danger" style="font-size: 16px;"></i>
          </div>
          <div class="chapter-item-infor flex-grow-1 d-flex justify-content-between">
            <span class="chapter-number font-bold">#4</span>
            <span class="chapter-time text-700">02-03-2025</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</p-card>


<p-card header="Bình luận (15)" [styleClass]="'mb-2'">

  <div class="comment-list">
    <div class="mb-2">
      <div class="comment-item d-flex my-3" >
        <div class="comment-item-avatar p-1" >
          <p-avatar label="U" styleClass="mr-2" [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }"
            shape="circle" />
        </div>
        <div class="comment-item-content p-1" [style]="{ 'width': '100%' }">
          <div class="comment-item-content-up d-flex flex-column">
            <div class="comment-item-infor  d-flex align-items-center p-1">
              <div class="comment-name me-3">Abc</div>
              <div class="comment-time ">3 giờ trước</div>
            </div>
            <div class="comment-item-text p-1">
              Truyện hay nha :>
            </div>
            <div class="comment-item-actions d-flex align-items-center p-2">
              <i class="pi pi-thumbs-up me-3"><span class="mx-1">15</span></i>
              <i class="pi pi-thumbs-down"><span class="mx-1 me-5">1</span></i>
              <p-tag severity="secondary" value="Phản hồi" />
            </div>
          </div>
          <div class="comment-item-content-down">
            <p-tree [value]="childComments" styleClass="w-full md:w-[30rem]" [style]="{padding: '0px', 'margin-left': '-15px'}">
              <ng-template let-node pTemplate="default" >


                <div class="p-tree-node-content" *ngIf="node.children && node.children.length > 0">
                  <span class="p-tree-node-label"><b>{{ node.label }}</b></span>
                </div>

                <div class="p-tree-children" *ngIf="node.expanded && node.children" >
                  <div class="comment-item d-flex my-3" *ngFor="let child of node.children">
                    <div class="comment-item-avatar p-1">
                      <p-avatar [label]="child.avatar" styleClass="mr-2" [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" shape="circle" />
                    </div>
                    <div class="comment-item-content p-1" [style]="{ 'width': '100%' }">
                      <div class="comment-item-content-up d-flex flex-column">
                        <div class="comment-item-infor d-flex align-items-center p-1">
                          <div class="comment-name me-3 font-medium text-primary">{{ child.label }}</div>
                          <div class="comment-time text-700 text-sm">{{ child.time }}</div>
                        </div>
                        <div class="comment-item-text p-1">
                          {{ child.content }}
                        </div>
                        <div class="comment-item-actions d-flex align-items-center p-2">
                          <i class="pi pi-thumbs-up me-3"><span class="mx-1">15</span></i>
                          <i class="pi pi-thumbs-down"><span class="mx-1 me-4">1</span></i>
                          <p-tag severity="secondary" value="Phản hồi" />
                        </div>
                      </div>
                    </div>
                    <div class="comment-item-report p-2">
                      <i class="pi pi-ellipsis-v mt-3"></i>

                    </div>
                  </div>
                </div>
              </ng-template>
            </p-tree>
          </div>
        </div>
        <div class="comment-item-report p-2">
          <i class="pi pi-ellipsis-v mt-3"></i>

        </div>
      </div>
    </div>

  </div>
</p-card>
