<p-toast />
<div class="overlay-spinner" *ngIf="isLoading">
  <p-progressSpinner styleClass="custom-spinner" strokeWidth="4"></p-progressSpinner>
</div>
<p-panel header="Hướng dẫn sử dụng" [styleClass]="'custom-panel-header'">
  <div class="tutorial-container">
    <p-speeddial [model]="items" [radius]="80" type="semi-circle" direction="left"
      [style]="{ position: 'fixed', top: 'calc(50% - 2rem)', right: '2rem', zIndex: 999 }" />

    <section *ngFor="let tutorial of tutorials; let i = index" class="tutorial-step">
      <h4>{{ i + 1 }}. {{ tutorial.title }}</h4>
      <div class="tutorial-content" [innerHTML]="tutorial.content"></div>
    </section>
  </div>
</p-panel>


<!-- Dialog Thêm -->
<p-dialog header="Thêm hướng dẫn" [(visible)]="isAddTutorial" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw' }" [draggable]="false"
  [resizable]="false">
  <hr />
  <div class="p-fluid mb-3">
    <input id="selectedTitleTutorial" type="text" pInputText [(ngModel)]="selectedTitleTutorial"
      placeholder="Nhập tiêu đề hướng dẫn" class="w-100" />
  </div>
  <div class="contentAddTutorial">
    <div id="contentAddTutorial" class="mb-5"></div>
  </div>
  <div class="d-flex justify-content-end mt-2">
    <button pButton type="button" label="Lưu" icon="pi pi-save" (click)="addTutorial()"
      class="p-button-success"></button>
  </div>
</p-dialog>

<!-- Dialog Cập nhật -->
<p-dialog header="Cập nhật hướng dẫn" [(visible)]="isUpdateTutorial" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw' }" [draggable]="false"
  [resizable]="false">
  <hr />
  <div class="w-full mb-3">
    <p-select [options]="tutorialTitles" [(ngModel)]="selectedTitleTutorial" [filter]="true" [editable]="true"
      [showClear]="true" placeholder="Chọn tiêu đề" appendTo="body" (onChange)="onTitleSelected($event.value)">
    </p-select>
  </div>
  <div class="contentUpdateTutorial">
    <div id="contentUpdateTutorial" class="mb-5"></div>
  </div>
  <div class="d-flex justify-content-end mt-2">
    <button pButton type="button" label="Cập nhật" icon="pi pi-save" (click)="saveTutorial()"
      class="p-button-success"></button>
  </div>
</p-dialog>

<!-- Dialog xóa -->
<p-dialog header="Xóa hướng dẫn" [(visible)]="isDeleteTutorial" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw' }" [draggable]="false"
  [resizable]="false">
  <hr />
  <div class="w-full mb-3">
    <p-select [options]="tutorialTitles" [(ngModel)]="selectedTitleTutorial" [filter]="true" [editable]="true"
      [showClear]="true" placeholder="Chọn tiêu đề" appendTo="body" (onChange)="onTitleSelected($event.value)">
    </p-select>
  </div>
  <div class="d-flex justify-content-end mt-2">
    <button pButton type="button" label="Xóa" icon="pi pi-trash" (click)="deleteTutorial()"
      class="p-button-danger"></button>
  </div>
</p-dialog>
