.book-icon {
  width: 100px;
  height: 100px;
  background-image: url('../../icons/book_12743716.gif');
  background-size: cover;
}

.member-icon {
  width: 100px;
  height: 100px;
  background-image: url('../../icons/add_17644526.gif');
  background-size: cover;
}

.category-icon{
  width: 100px;
  height: 100px;
  background-image: url('../../icons/category_12743716.gif');
  background-size: cover;
}

.format-panel{
  background: #fff;
}

.report-item {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Effect */
.report-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.report-item p {
  margin: 0;
  font-weight: 600;
}

.report-item .text-gray-600 {
  font-size: 14px;
  color: #6b7280;
}

.report-item .font-semibold {
  font-size: 22px;
  font-weight: 700;
  color: #1f2937;
}




.report-item:nth-child(1) {
  border-left: 5px solid #10b981;
}

.report-item:nth-child(2) {
  border-left: 5px solid #10b981;
}

.report-item:nth-child(3) {
  border-left: 5px solid #10b981;
}

.book-icon, .member-icon, .category-icon {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pi-pen-to-square {
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pi-pen-to-square:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

// member
.custom-width {
  width: 10%;
}


:host ::ng-deep p-columnFilter {
  width: 100% !important;
}

:host ::ng-deep p-columnFilter input {
  width: 100% !important;
}

:host ::ng-deep p-columnFilter p-dropdown {
  width: 100% !important;
}

:host ::ng-deep p-columnFilter p-multiselect {
  width: 100% !important;
}


:host ::ng-deep .format-input input {
  width: 100%;
}
::ng-deep .p-listbox-list-container {
  max-height: none !important;
  height: 100% !important;
}
