<div class="row my-2">

  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3">
    <div class="d-flex report-item">

      <div class="ml-4">
        <p class="text-gray-600">Tổng đầu truyện</p>
        <p class="text-xl font-semibold">{{totalStories}}</p>
      </div>
      <div class="book-icon"></div>
    </div>
  </div>

  <!-- Tổng thành viên -->
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3">
    <div class="d-flex report-item">
      <div class="ml-4">
        <p class="text-gray-600">Tổng thành viên</p>
        <p class="text-xl font-semibold">{{totalMembers}}</p>
      </div>
      <div class="member-icon"></div>
    </div>
  </div>

  <!-- Tổng danh mục -->
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3">
    <div class="d-flex report-item">
      <div class="ml-4">
        <p class="text-gray-600">Tổng danh mục</p>
        <p class="text-xl font-semibold">{{totalCategories}}</p>
      </div>
      <div class="category-icon"></div>
    </div>
  </div>
</div>


<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Truyện</p-tab>
    <p-tab value="1">Thành viên</p-tab>

  </p-tablist>

  <p-tabpanels>
    <p-tabpanel value="0">

      <div class="p-3 mb-5 ">
        <!-- Actions -->
        <div class="d-flex justify-content-between">
          <div class="d-flex ">
            <p-button class="me-3" icon="pi pi-print" label="Xuất Excel" [outlined]="true" severity="help"
              (click)="exportStoryReportExcel()" />
            <!-- <p-button icon="pi pi-refresh" (click)="reloadStoriesReport()" /> -->
          </div>

          <div>
            <c-input-group class="mb-3">
              <input aria-describedby="button-addon2" aria-label="Nhập tên chuyên mục" cFormControl
                placeholder="Nhập tên chuyên mục" [(ngModel)]="keySearch" />
              <button cButton color="secondary" id="button-addon2" type="button" variant="outline"
                (click)="searchStory()">
                Tìm kiếm
              </button>
            </c-input-group>
          </div>
        </div>

        <!-- Data -->
        <p-table [value]="stories" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
          [rowsPerPageOptions]="[5, 10, 20]">
          <ng-template #header>
            <tr>
              <th pSortableColumn="storyID">Mã truyện <p-sortIcon field="storyID" /></th>
              <th pSortableColumn="title">Tên truyện <p-sortIcon field="title" /></th>
              <th pSortableColumn="totalChapter">Số chương <p-sortIcon field="totalChapter" /></th>
              <th pSortableColumn="views">Lượt xem <p-sortIcon field="views" /></th>
              <th pSortableColumn="likes">Lượt thích <p-sortIcon field="likes" /></th>
              <th pSortableColumn="createdAt">Ngày tạo <p-sortIcon field="createdAt" /></th>
              <th>Hành động </th>

            </tr>
          </ng-template>
          <ng-template #body let-story>
            <tr>
              <td>{{ story.storyID }}</td>
              <td>{{ story.title }}</td>
              <td>{{ story.totalChapter }}</td>
              <td>{{ story.views }}</td>
              <td>{{ story.likes }}</td>
              <td>{{ story.createdAt | date:'dd/MM/yyyy' }}</td>

              <td>
                <i class="pi pi-pen-to-square" (click)="getStoryDetail(story.storyID)"></i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <!-- Option report -->
      <div class="d-flex justify-content-end my-3">
        <p-select [options]="typeReports" [(ngModel)]="selectedTypeReport" optionLabel="name"
          [style]="{ width: '220px' }" (onChange)="onStoryReportTypeChange()" />
      </div>
      <!-- Chart -->
      <div class="card">
        <p-chart type="bar" [data]="reportStoryData" [options]="reportStoryOption" />
      </div>
    </p-tabpanel>

    <p-tabpanel value="1">
      <div class="p-3 mb-5 ">
        <div class="d-flex justify-content-start">
          <p-toast />
          <p-confirmdialog />
          <p-button class="me-3" icon="pi pi-print" label="Xuất Excel" [outlined]="true" severity="help"
          (click)="exportMemberReportExcel()" />
        </div>

        <p-table #dt2 [value]="members" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
          [globalFilterFields]="['userID', 'userName', 'email', 'phone','role']">
          <ng-template #header>
            <tr>
              <th style="width: 20%;">Mã TV</th>
              <th style="width: 20%;">Tên TV</th>
              <th style="width: 20%;">Email</th>
              <th style="width: 20%;">Số điện thoại</th>
              <th style="width: 10%;">Quyền</th>
              <th style="width: 25%;">Ngày tạo</th>

            </tr>
            <tr>
              <th style="width: 10%;">
                <p-columnFilter type="text" field="userID" styleClass="custom-width" placeholder="Nhập mã TV"
                  [style]="{'min-width': '10rem'}" ariaLabel="Filter Name"></p-columnFilter>
              </th>

              <th>
                <p-columnFilter type="text" field="username" placeholder="Nhập tên TV" [style]="{'min-width': '10rem'}"
                  ariaLabel="Filter Country"></p-columnFilter>
              </th>

              <th>
                <p-columnFilter type="text" field="email" placeholder="Nhập email" [style]="{'min-width': '10rem'}"
                  ariaLabel="Filter Country"></p-columnFilter>
              </th>

              <th>
                <p-columnFilter type="text" field="phone" placeholder="Nhập SĐT" [style]="{'min-width': '10rem'}"
                  ariaLabel="Filter Country"></p-columnFilter>
              </th>

              <th>
                <p-dropdown [(ngModel)]="selectedRoles" [options]="roleOptions" placeholder="Chọn quyền"
                  [showClear]="true" [style]="{'min-width': '10rem'}"
                  (onChange)="dt2.filter($event.value, 'role', 'equals')" appendTo="body">
                </p-dropdown>
              </th>
              <th></th>

            </tr>
          </ng-template>
          <ng-template #body let-member>
            <tr>
              <td>
                <div class="ms-2">{{ member.userID }}</div>
              </td>

              <td>
                <div class="flex gap-2">
                  <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                    [class]="'flag flag-' + member.username" style="width: 20px" />
                  <span>{{ member.username }}</span>
                </div>
              </td>
              <td>
                <div class="flex gap-2">
                  <span>{{ member.email }}</span>
                </div>
              </td>
              <td>
                <div class="flex gap-2">
                  <span>{{ member.phone }}</span>
                </div>
              </td>
              <td>
                <p-tag [value]="member.role" [severity]="getSeverity(member.role)" />
              </td>
              <td class="text-center">
                <div class="flex gap-2">
                  <span>{{ member.createdAt | date:'dd/MM/yyyy'}}</span>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #emptymessage>
            <tr>
              <td colspan="5">No Members found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <!-- Option report -->
      <div class="d-flex justify-content-end my-3">
        <p-select [options]="typeReports" [(ngModel)]="selectedTypeReport" optionLabel="name"
          [style]="{ width: '220px' }" (onChange)="onMemberReportTypeChange()" />
      </div>
      <!-- Chart -->
      <div class="card">
        <p-chart type="bar" [data]="reportMemberData" [options]="reportMemberOption" />
      </div>

    </p-tabpanel>
  </p-tabpanels>
</p-tabs>

<!-- Infor story -->
<p-dialog header="Chi tiết truyện" [(visible)]="isDisplayStoryInfor" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw' }" [draggable]="false"
  [resizable]="false">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 mb-4">
      <div class="story-cover-img d-flex justify-content-center">
        <img [src]="coverImageDisplay" [alt]="'Test'" class="shadow-4 w-100 story-img" />
      </div>

      <div class="story-actions mt-3">
        <div class="story-actions-up w-100 d-flex my-2">
          <p-button label="1.1k" severity="danger" icon="pi pi-heart" [style]="{width: '100%'}"
            class="flex-grow-1 me-1 border border-danger rounded" />
          <p-button label="15k" severity="secondary" icon="pi pi-eye" [style]="{width: '100%'}"
            class="flex-grow-1 ms-1 border border-secondary rounded" />
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
      <div class="story-infor-detail">
        <h2 class="story-title">{{this.title}}</h2>
        <p class="story-author"><strong>Tác giả:</strong> {{this.author}}</p>
        <div class="d-flex align-items-center flex-wrap">
          <strong class="me-2">Thể loại:</strong>
          <ng-container *ngFor="let cate of categoriesSelect">
            <p-tag severity="info" value="{{cate.categoryName}}" [rounded]="true" class="m-1" />
          </ng-container>
        </div>

        <p class="story-status"><strong>Trạng thái:</strong> Đang tiến hành</p>
        <p class="story-description">{{this.description}}</p>
      </div>
    </div>
  </div>
</p-dialog>
