<p-toast />
<p-confirmdialog />
<c-card>
  <c-card-header>
    <h5>Thêm truyện</h5>
  </c-card-header>
  <c-card-body class="p-4">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 ">
        <div class="button-back d-flex align-items-center" style="cursor: pointer;">
          <i class="pi pi-arrow-circle-left" (click)="navigateTostoryManagement()" style="font-size: 30px;"></i>
        </div>
      </div>
    </div>
    <hr>

    <div class="story-infor">
      <div class="row">
        <h6><b>1. Thông tin truyện</b></h6>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
          <div class="flex justify-center">
            <p-selectbutton [options]="typeOptions" [(ngModel)]="selectType" optionLabel="label" optionValue="value"
              aria-labelledby="basic" />
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
              <div class="d-flex flex-column">
                <label for="title" class="block mt-3">Tên truyện</label>
                <input pInputText id="title" [(ngModel)]="title" />
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
              <div class="d-flex flex-column">
                <label for="author" class="block mt-3">Tác giả</label>
                <input pInputText id="author" [(ngModel)]="author" />
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class=" d-flex flex-column">
                <label for="categories" class="block mt-3">Danh mục</label>
                <p-multiselect [options]="categories" [(ngModel)]="categoriesSelect" placeholder="Chọn danh mục"
                  optionLabel="categoryName" display="chip" styleClass="w-full md:w-80" [maxSelectedLabels]="10" />
              </div>
            </div>
          </div>
        </div>

        <h6 class="mt-5"><b>2. Hình ảnh</b></h6>
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 ">
          <div class="d-flex justify-content-start">
            <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-image" accept="image/*" maxFileSize="1000000"
              (onSelect)="onUploadCoverImage($event)" [auto]="true" chooseLabel="Chọn ảnh chính" />
          </div>
          <div class="mt-3 border">
            <p-image *ngIf="coverImageDisplay" [src]="coverImageDisplay" alt="Image" width="100%" [preview]="true" />
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 ">
          <textarea pTextarea [(ngModel)]="description" placeholder="Nhập mô tả ..." rows="10"
            style="width: 100%;"></textarea>
        </div>

        <h6 class="mt-5"><b>3. Chương</b></h6>
        <p-card header="Danh sách chương " [styleClass]="'mb-2'">

          <div class="chapter-action d-flex justify-content-end my-3">

            <p-button label=" Thêm chương mới" severity="success" icon="pi pi-bookmark-fill"
              class=" border border-success rounded" (click)="addChapterForm()" />
          </div>

          <div class="add-chapter mb-5" *ngIf="isAddChapter">
            <!-- Title -->
            <div class="add-title d-flex my-3">
              <div class="d-flex flex-column ">
                <label class="block ">Số chương</label>
                <input type="text" pInputText [(ngModel)]="chapterNumber" />
              </div>
              <div class="d-flex flex-column ms-3 " [style]="{ 'width': '100%' }">
                <label class="block ">Tên chương</label>
                <input type="text" pInputText [(ngModel)]="chapterName" />
              </div>
            </div>

            <!-- Content novel -->
            <div class="contentNovelStory" *ngIf="isAddNovel">
              <div id="contentNovelStory" class="mb-5"></div>
            </div>

            <!-- Content manga -->
            <div class="contentMangaStory" *ngIf="isAddManga">
              <!-- Type of file -->
              <p-fileupload #uploader name="demo[]" [multiple]="true" accept="image/*" maxFileSize="1000000" mode="advanced"
                  [auto]="true" chooseLabel="Tải trang truyện" (onSelect)="onUploadChildrenImg($event)"
                  (onRemove)="onRemoveChildrenImg($event)">
                  <ng-template #empty>
                    <div>Kéo và thả tệp vào đây để tải lên.</div>
                  </ng-template>
                  <ng-template #content>
                  </ng-template>
                </p-fileupload>
            </div>

            <!-- Actions novel -->
            <div class="add-novel-actions d-flex justify-content-end">
              <p-button label="Hủy" severity="secondary" (click)="closeNovelForm()" />
              <p-button label="Xác nhận" severity="success" [ngClass]="'ms-2'" (click)="postChapterToList()" />
            </div>
          </div>

          <div class="chapter-list">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-3" *ngFor="let chapter of chapters">
                <div class="chapter-item d-flex align-items-center p-3 rounded shadow-sm transition"
                  (click)="navigateToChapterContent(chapter.storyID, chapter.ChapterNumber)">
                  <!-- Icon chương -->
                  <div class="chapter-item-icon me-3">
                    <i class="pi pi-circle-fill text-danger chapter-icon"></i>
                  </div>

                  <!-- Thông tin chương -->
                  <div class="chapter-item-infor flex-grow-1">
                    <div class="d-flex justify-content-between align-items-center">
                      <span class="chapter-number fw-bold">#{{chapter.ChapterNumber}}</span>
                      <span class="chapter-time text-muted small">{{ getTimeAgo(chapter.CreatedAt) }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-card>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
          <div class="d-flex justify-content-end">
            <p-button label="Xác nhận" (click)="addStory()" />
          </div>
        </div>
      </div>
    </div>
  </c-card-body>
</c-card>

