.content-wrapper img,
.content-wrapper iframe {
  width: 100%;
  max-width: none;
  display: block;
  object-fit: contain;
}

.content-wrapper iframe {
  height: 400px;
}
.button-back{
  height: 100%;
}

.button-back {
  display: inline-block;

  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.button-back i {
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 30px;
  cursor: pointer;
}

.button-back i:hover  {
  color: #007bff;
  transform: scale(1.2);
}

.expired {
  background-color: #ffcccc !important;
}

.custom-card-shadow {
  border: 1px solid #dcdcdc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: box-shadow 0.3s ease;
}

.custom-toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
  background: #fff;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  min-width: 260px;
  animation: fadeIn 0.3s ease-in-out;
}

.toast-content {
  display: flex;
  align-items: center;
}

.spinner {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #2196f3;
}

.toast-message {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}
