<!-- Sidebar -->
<div class="sidebar" [ngClass]="{ 'active': isSidebarOpen }">

  <div class="d-flex justify-content-between align-items-center my-3">
    <h4>Menu</h4>
    <i class="pi pi-times" (click)="closeSidebar()"></i>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-3 container-toggle p-1">
    <!-- Notification Icon -->
    <div class="notification" (click)="openNotificationForm()">
      <i class="pi pi-bell"></i>
    </div>

    <!-- Toggle Theme Icon -->
    <div class="toggle-theme " (click)="toggleTheme()">
      <i class="pi" [ngClass]="isDarkMode ? 'pi-moon' : 'pi-sun'"></i>
    </div>
  </div>

  <ul class="sidebar-menu">
    <li>
      <a (click)="resetHome()">
        <i class="me-3 pi pi-home"></i> Trang chủ
      </a>
    </li>
    <li *ngIf="userID">
      <a (click)="openMemberForm()">
        <i class="me-3 pi pi-user"></i>Tài khoản
      </a>
    </li>
    <li *ngIf="userID">
      <a (click)="openFavoriteStoriesForm()">
        <i class="me-3 pi pi-heart"></i>Yêu thích
      </a>
    </li>
    <li *ngIf="userID">
      <a (click)="openHistoryStoriesForm()">
        <i class="me-3 pi pi-history"></i>Lịch sử
      </a>
    </li>
    <li>
      <a (click)="showCategories()">
        <i class="me-3 pi pi-bars"></i>Thể loại

      </a>
    </li>
    <li>
      <a (click)="navigateToContact()">
        <i class="me-3 pi pi-id-card  "></i>Giới thiệu
      </a>
    </li>
    <li *ngIf="userID">
      <a (click)="logout()">
        <i class="me-3 pi pi-sign-out"></i>Đăng xuất
      </a>
    </li>

    <li *ngIf="!userID">
      <a (click)="navigateToRegister()">
        <i class="me-3 pi pi-user-edit"></i>Đăng ký
      </a>
    </li>

    <li *ngIf="!userID">
      <a (click)="navigateToLogin()">
        <i class="me-3 pi pi-sign-in"></i>Đăng nhập
      </a>
    </li>


  </ul>
</div>

<!-- Overlay -->
<div class="overlay" *ngIf="isSidebarOpen" (click)="closeSidebar()"></div>

<!-- Thể loại -->
<p-dialog header="Thể loại" [(visible)]="visibleCategories" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <div class="category-list">
    <p-accordion *ngFor="let category of categoryItems let i = index">
      <p-accordion-panel value={{i}}>
        <p-accordion-header>{{category.label}}</p-accordion-header>
        <p-accordion-content *ngFor="let categoryName of category.items">
          <p class="m-0">{{categoryName.label}}</p>
        </p-accordion-content>
      </p-accordion-panel>

    </p-accordion>
  </div>
</p-dialog>


<!-- notify -->
<!-- <p-dialog header="Thông báo" [(visible)]="visibleNotify" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <div class="d-flex justify-content-between noti-item p-2 my-2">

    <div class="d-flex">
      <div class="noti-icon">
        <p-avatar label="P" shape="circle" size="large" />
      </div>
      <div class="noti-content mx-3">
        <div class="noti-text">
          abc
        </div>
        <div class="noti-time">
          9 giờ trước
        </div>
      </div>
    </div>
    <div class="noti-action mx-2 " (click)="menu.toggle($event)">
      <p-menu #menu [model]="notifyItems" [popup]="true" appendTo="body"/>
      <i class="pi pi-ellipsis-h" ></i>

    </div>
  </div>
  <div class="d-flex justify-content-between noti-item p-2 my-2">

    <div class="d-flex">
      <div class="noti-icon">
        <p-avatar label="P" shape="circle" size="large" />
      </div>
      <div class="noti-content mx-3">
        <div class="noti-text">
          abc
        </div>
        <div class="noti-time">
          9 giờ trước
        </div>
      </div>
    </div>
    <div class="noti-action mx-2 " (click)="menu.toggle($event)">
      <p-menu #menu [model]="notifyItems" [popup]="true" appendTo="body"/>
      <i class="pi pi-ellipsis-h" ></i>

    </div>
  </div>
  <div class="d-flex justify-content-between noti-item p-2 my-2">

    <div class="d-flex">
      <div class="noti-icon">
        <p-avatar label="P" shape="circle" size="large" />
      </div>
      <div class="noti-content mx-3">
        <div class="noti-text">
          abc
        </div>
        <div class="noti-time">
          9 giờ trước
        </div>
      </div>
    </div>
    <div class="noti-action mx-2 " (click)="menu.toggle($event)">
      <p-menu #menu [model]="notifyItems" [popup]="true" appendTo="body"/>
      <i class="pi pi-ellipsis-h" ></i>

    </div>
  </div>
</p-dialog> -->
