<router-outlet></router-outlet>
<c-card *ngIf="!isAddstoryPage && !isInforstoryPage && !isUpdateStoryPage && !isContentChapterPage">
  <c-card-header>
    <h5>Quản lý truyện</h5>
  </c-card-header>
  <c-card-body>
    <div class="d-flex justify-content-end">
      <p-toast />
      <p-confirmdialog />
      <p-button class="me-3" icon="pi pi-plus" label="Thêm truyện" [outlined]="true" severity="success"
        (click)="navigateToAddStory()" />
      <!-- <p-button class="me-3" icon="pi pi-print" label="Xuất Excel" [outlined]="true" severity="help" /> -->
    </div>
    <hr>

    <p-tabView (onChange)="onTabChange($event)">
      <p-tabPanel header="Truyện của tôi">
        <div class="d-flex justify-content-between">
          <div>
            <p-button icon="pi pi-refresh" (click)="loadMyStories()" severity="info" />
          </div>
          <div>
            <c-input-group class="mb-3">
              <input aria-describedby="button-addon2" aria-label="Nhập tên truyện" cFormControl
                placeholder="Nhập tên truyện" [(ngModel)]="keySearch" (keydown.enter)="searchStory('my')"/>
              <button cButton color="secondary" id="button-addon2" type="button" variant="outline"
                (click)="searchStory('my')">
                Tìm kiếm
              </button>
            </c-input-group>
          </div>
        </div>
        <p-table #dt [value]="myStories" [paginator]="true" [rows]="rows" [first]="first"
          [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]">
          <ng-template pTemplate="header">
            <tr>
              <th>STT</th>
              <th>Tiêu đề</th>
              <th>Ảnh bìa</th>
              <th>Trạng thái</th>
              <th>Người đăng</th>
              <th>Số chương</th>
              <th>Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-story let-i="rowIndex">
            <tr>
              <td>{{ i + 1 + first }}</td>
              <td>{{ story.title }}</td>
              <td>
                <img [src]="story.coverImage" [alt]="story.title" width="100" class="shadow-4" />
              </td>
              <td>
                <span [ngClass]="getSeverity(story.status)">{{ story.status }}</span>
              </td>

              <td>{{ story.publisherName }}</td>
              <td>{{ story.totalChapter }}</td>
              <td>
                <div style="position: relative;">
                  <p-menu #menu [model]="items" [popup]="true" appendTo="body" />
                  <i class="pi pi-ellipsis-h round-icon" (click)="menu.toggle($event)"
                    (click)="setCurrentStory(story)"></i>
                </div>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
      <p-tabPanel header="Tất cả truyện">
        <div class="d-flex justify-content-between">
          <div>
            <p-button icon="pi pi-refresh" (click)="loadStories()" severity="info" />
          </div>
          <div>
            <c-input-group class="mb-3">
              <input aria-describedby="button-addon2" aria-label="Nhập tên truyện" cFormControl
                placeholder="Nhập tên truyện" [(ngModel)]="keySearch" (keydown.enter)="searchStory('all')"/>
              <button cButton color="secondary" id="button-addon2" type="button" variant="outline"
                (click)="searchStory('all')">
                Tìm kiếm
              </button>
            </c-input-group>
          </div>

        </div>
        <p-table #dt [value]="stories" [paginator]="true" [rows]="rows" [first]="first"
          [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]">
          <ng-template pTemplate="header">
            <tr>
              <th>STT</th>
              <th>Tiêu đề</th>
              <th>Ảnh bìa</th>
              <th>Trạng thái</th>
              <th>Người đăng</th>
              <th>Số chương</th>
              <th>Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-story let-i="rowIndex">
            <tr>
              <td>{{ i + 1 + first }}</td>
              <td>{{ story.title }}</td>
              <td>
                <img [src]="story.coverImage" [alt]="story.title" width="100" class="shadow-4" />
              </td>
              <td>
                <span [ngClass]="getSeverity(story.status)">{{ story.status }}</span>
              </td>

              <td>{{ story.publisherName }}</td>
              <td>{{ story.totalChapter }}</td>
              <td>
                <div style="position: relative;">
                  <p-menu #menu [model]="items" [popup]="true" appendTo="body" />
                  <i class="pi pi-ellipsis-h round-icon" (click)="menu.toggle($event)"
                    (click)="setCurrentStory(story)"></i>
                </div>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
      <p-tabPanel header="Phê duyệt">
        <div class="d-flex justify-content-between">
          <div>
            <p-button icon="pi pi-refresh" (click)="loadPendingStories()" severity="info" />
          </div>
          <div>
            <c-input-group class="mb-3">
              <input aria-describedby="button-addon2" aria-label="Nhập tên truyện" cFormControl
                placeholder="Nhập tên truyện" [(ngModel)]="keySearch" (keydown.enter)="searchStory('pending')"/>
              <button cButton color="secondary" id="button-addon2" type="button" variant="outline"
                (click)="searchStory('pending')">
                Lọc truyện
              </button>
            </c-input-group>
          </div>

        </div>
        <p-table #dt [value]="pendingStories" [paginator]="true" [rows]="rows" [first]="first"
          [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[5, 10, 20]">
          <ng-template pTemplate="header">
            <tr>
              <th>STT</th>
              <th>Tiêu đề</th>
              <th>Ảnh bìa</th>
              <th>Trạng thái</th>
              <th>Người đăng</th>
              <th>Số chương</th>
              <th>Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-story let-i="rowIndex">
            <tr>
              <td>{{ i + 1 + first }}</td>
              <td>{{ story.title }}</td>
              <td>
                <img [src]="story.coverImage" [alt]="story.title" width="100" class="shadow-4" />
              </td>
              <td>
                <span [ngClass]="getSeverity(story.status)">{{ story.status }}</span>
              </td>

              <td>{{ story.publisherName }}</td>
              <td>{{ story.totalChapter }}</td>
              <td>
                <div style="position: relative;">
                  <p-menu #menu [model]="itemApproval" [popup]="true" appendTo="body"></p-menu>
                  <i class="pi pi-ellipsis-h round-icon"
                     (click)="menu.toggle($event); setCurrentStory(story)"
                     style="cursor: pointer; font-size: 1.2rem;"></i>
                </div>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
    </p-tabView>
  </c-card-body>
</c-card>
