.custom-width {
  width: 10%;
}


:host ::ng-deep p-columnFilter {
  width: 100% !important;
}

:host ::ng-deep p-columnFilter input {
  width: 100% !important;
}

:host ::ng-deep p-columnFilter p-dropdown {
  width: 100% !important;
}

:host ::ng-deep p-columnFilter p-multiselect {
  width: 100% !important;
}


:host ::ng-deep .format-input input {
  width: 100%;
}
