<router-outlet> </router-outlet>
<c-card *ngIf="!isAddMemberPage">
  <c-card-header>
    <h5>Quản lý thành viên</h5>
  </c-card-header>
  <c-card-body>

    <div class="d-flex justify-content-start">
      <p-toast />
      <p-confirmdialog />
      <p-button class="me-3" icon="pi pi-plus" label="Thêm thành viên" [outlined]="true" severity="success"
         />
      <p-button class="me-3" icon="pi pi-print" label="Xuất Excel" [outlined]="true" severity="help" (click)="exportExcel()"/>
    </div>
    <hr>

    <p-table #dt2 [value]="members" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
      [globalFilterFields]="['userID', 'userName', 'email', 'phone','role']">
      <ng-template #header>
        <tr>
          <th style="width: 20%;">Mã TV</th>
          <th style="width: 20%;">Tên TV</th>
          <th style="width: 20%;">Email</th>
          <th style="width: 20%;">Số điện thoại</th>
          <th style="width: 10%;">Quyền</th>
          <th style="width: 25%;">Hành động</th>

        </tr>
        <tr>
          <th style="width: 10%;">
            <p-columnFilter type="text" field="userID" styleClass="custom-width" placeholder="Nhập mã TV"
              [style]="{'min-width': '10rem'}" ariaLabel="Filter Name"></p-columnFilter>
          </th>

          <th>
            <p-columnFilter type="text" field="username" placeholder="Nhập tên TV" [style]="{'min-width': '10rem'}"
              ariaLabel="Filter Country"></p-columnFilter>
          </th>

          <th>
            <p-columnFilter type="text" field="email" placeholder="Nhập email" [style]="{'min-width': '10rem'}"
              ariaLabel="Filter Country"></p-columnFilter>
          </th>

          <th>
            <p-columnFilter type="text" field="phone" placeholder="Nhập SĐT" [style]="{'min-width': '10rem'}"
              ariaLabel="Filter Country"></p-columnFilter>
          </th>

          <th>
            <p-dropdown [(ngModel)]="selectedRoles" [options]="roleOptions" placeholder="Chọn quyền"
              [showClear]="true" [style]="{'min-width': '10rem'}"
              (onChange)="dt2.filter($event.value, 'role', 'equals')" appendTo="body">
            </p-dropdown>
          </th>
          <th></th>

        </tr>
      </ng-template>
      <ng-template #body let-member>
        <tr>
          <td>
            <div class="ms-2">{{ member.userID }}</div>
          </td>

          <td>
            <div class="flex gap-2">
              <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                [class]="'flag flag-' + member.username" style="width: 20px" />
              <span>{{ member.username }}</span>
            </div>
          </td>
          <td>
            <div class="flex gap-2">
              <span>{{ member.email }}</span>
            </div>
          </td>
          <td>
            <div class="flex gap-2">
              <span>{{ member.phone }}</span>
            </div>
          </td>
          <td>
            <p-tag [value]="member.role" [severity]="getSeverity(member.role)" />
          </td>
          <td class="text-center"> <!-- Cột hành động -->
            <div style=" position: relative;">
              <p-speeddial [model]="actions" direction="right" (click)="setCurrentMember(member)"/>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="5">No Members found.</td>
        </tr>
      </ng-template>
    </p-table>
  </c-card-body>
</c-card>


<!-- member detail -->
<div class="card flex justify-center">
  <p-dialog header="Chi tiết thành viên" [(visible)]="visibleUpdateForm" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw' }" [draggable]="false"
    [resizable]="false">
    <div class="member-infor">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 ">
          <h6 class="mt-5"><b>1. Ảnh đại diện</b></h6>
          <div class="d-flex justify-content-start">
            <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-image" accept="image/*" maxFileSize="1000000"
              (onSelect)="onUpload($event)" [auto]="true" chooseLabel="Chọn ảnh chính" />
          </div>
          <div class="mt-3 border">
            <p-image *ngIf="primaryImgDisplay" [src]="primaryImgDisplay" alt="Image" width="100%" [preview]="true" />
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 ">
          <h6 class="mt-5"><b>2. Thông tin cá nhân</b></h6>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class="d-flex my-2 justify-content-between align-items-center">
                <label for="comment" class=" fw-semibold">Quyền bình luận</label>
                <p-toggleswitch [(ngModel)]="selectedMember.isComment" class="mt-2" />
              </div>

              <div class="d-flex my-2 justify-content-between align-items-center">
                <label for="comment" class=" fw-semibold">Khóa tài khoản</label>
                <p-toggleswitch [(ngModel)]="selectedMember.isLock" class="mt-2" />
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class="d-flex flex-column">
                <label for="username" class="block mt-3">Họ và tên</label>
                <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="selectedMember.username" />
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
              <div class="d-flex flex-column">
                <label for="gender" class="block mt-3">Email</label>
                <input pInputText id="email" aria-describedby="email-help" [(ngModel)]="selectedMember.email" />
              </div>
            </div>


            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
              <div class="d-flex flex-column">
                <label for="phone" class="block mt-3">Số điện thoại</label>
                <input pInputText id="phone" aria-describedby="username-help" [(ngModel)]="selectedMember.phone" />
              </div>
            </div>


            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
              <div class="d-flex flex-column">
                <label for="dob" class="block mt-3 ">Loại tài khoản</label>
                <div class="d-flex my-2">
                  <div class="flex items-center">
                    <p-radiobutton value="Reader" [(ngModel)]="selectedMember.role" inputId="ingredient1" />
                    <label for="ingredient1" class="mx-2">Độc giả</label>
                  </div>

                  <div class="flex items-center ms-5">
                    <p-radiobutton value="Publisher" [(ngModel)]="selectedMember.role" inputId="ingredient2" />
                    <label for="ingredient2" class="mx-2">Tác giả</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
              <div class="d-flex flex-column">
                <label for="createdDate" class="block mt-3">Tham gia ngày</label>
                <input pInputText id="createdDate" readonly aria-describedby="date-help" value="{{ selectedMember.createdAt | date:'dd-MM-yyyy' }}
                " />
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class="d-flex flex-column"  *ngIf="isChangePassword" [@togglePassword]>
                <label for="address" class="block mt-3">Mật khẩu mới</label>
                <p-password [(ngModel)]="newPassword" [feedback]="false" [toggleMask]="true" styleClass="w-100 format-input" class=" format-input w-100"  />

                <label for="address" class="block mt-3">Xác nhận mật khẩu</label>
                <p-password [(ngModel)]="comfirmPassword" [feedback]="false" [toggleMask]="true" styleClass="w-100 format-input" class=" format-input w-100"  />

              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-end mt-5">
                  <p-button label="Đổi mật khẩu" (click)="onChangePassword()" styleClass="w-100 format-input" class=" format-input w-100 me-2"/>
                  <p-button label="Cập nhật" (click)="updateMember()" styleClass="w-100 format-input" class=" format-input w-100 ms-2"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>

<!-- Reading histories -->
<div class="card flex justify-center">
  <p-dialog [(visible)]="visibleReadingHistoryForm" [modal]="true" [closable]="true"
    [header]="'Lịch sử đọc truyện'" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"   [style]="{ width: '80vw', height: 'auto' }"   [baseZIndex]="10000">

    <ng-container *ngIf="historyStories.length > 0; else noData">
      <p-listbox [options]="historyStories" optionLabel="title" [style]="{width: '100%',height: 'auto'}">
        <ng-template let-story pTemplate="item" [style]="{width: '100%',height: 'auto'}">
          <div class="d-flex justify-content-between w-100 items-center gap-3 p-2 border-b border-gray-200">

            <div>
              <div class="font-semibold text-lg text-gray-800"><b>{{ story.title }}</b></div>
              <div class="text-sm text-gray-500">Lượt xem: {{ story.views  }}</div>

              <div class="text-sm text-gray-500">Ngày đọc: {{ story.lastReadAt | date:'dd/MM/yyyy' }}</div>
            </div>
            <img [src]="story.coverImage" alt="Thumbnail"
              class="rounded-md object-cover shadow-sm border border-gray-300"
              style="width: 56px; height: auto;">

          </div>
        </ng-template>
      </p-listbox>
    </ng-container>

    <ng-template #noData>
      <div class="text-center p-4">
        <p class="text-gray-500 text-sm">Không có lịch sử đọc.</p>
      </div>
    </ng-template>

    <p-footer class="flex justify-end">
      <button pButton label="Đóng" icon="pi pi-times" class="p-button-text p-button-sm" (click)="visibleReadingHistoryForm = false"></button>
    </p-footer>
  </p-dialog>
</div>

