<p-toast />

<nav class="navbar d-flex justify-content-between aligh-categoryItems-center">
  <!-- Left Side -->
  <div class="d-flex">
    <!-- Logo -->
    <div class="header-logo" *ngIf="!isSearchMobile">
      <a (click)="resetHome()">
        <img src="../../../assets/images/logo.png" alt="Logo">
      </a>
    </div>
    <!-- Home -->
    <div class="navbar-left">
      <a (click)="resetHome()">Trang chủ</a>


      <p-megamenu [model]="categoryItems" />
      <a (click)="showDialogFilter()" class="me-3">Lọc</a>
      <a (click)="navigateToContact()">Giới thiệu</a>

      <!-- Search -->
      <div class="search-box">
        <input type="text" placeholder="Tìm kiếm..." [(ngModel)]="searchKey" (ngModelChange)="onSearchKeyChange()">
        <i class="pi pi-search" (click)="searchStory()"></i>
      </div>
    </div>
  </div>

  <!-- Mobile -->
  <div *ngIf="!isSearchMobile" class="d-flex align-items-center">
    <div class="search-mobile" (click)="toggleSearchMobile()">
      <i class="pi pi-search"></i>
    </div>

    <div class="bar-mobile ms-3" (click)="toggleSidebar()">
      <i class="pi pi-bars"></i>
    </div>
  </div>

  <div *ngIf="isSearchMobile" class="search-mobile-full d-flex justify-content-between align-items-center w-100 ">
    <div class="back flex-0-1" (click)="toggleSearchMobile()">
      <i class="pi pi-angle-left"></i>
    </div>
    <div class="search-box flex-0-9">
      <input type="text" class="w-100" placeholder="Tìm kiếm..." [(ngModel)]="searchKey"
        (ngModelChange)="onSearchKeyChange()">
      <i class="pi pi-search" (click)="searchStory()"></i>
    </div>
  </div>

  <!-- Right Side -->
  <div class="navbar-right">

    <!-- Notification -->
    <!-- <div class="notification" (click)="showDialogNotify()">
      <p-overlaybadge badgeSize="small" [value]="unreadNotification">
        <i class="pi pi-bell" style="font-size: 1rem"></i>
      </p-overlaybadge>
    </div> -->

    <div class="notification" (click)="showDialogNotify()">
      <p-overlaybadge *ngIf="unreadNotification > 0" badgeSize="small" [value]="unreadNotification">
        <i class="pi pi-bell" style="font-size: 1rem"></i>
      </p-overlaybadge>
      <i class="pi pi-bell" *ngIf="unreadNotification === 0" style="font-size: 1rem"></i>
    </div>

    <!-- Toggle Theme -->
    <div class="toggle-theme" (click)="toggleTheme()">
      <i class="pi" [ngClass]="isDarkMode ? 'pi-moon' : 'pi-sun'"></i>
    </div>

    <!-- User Section -->
    <div class="user-section">
      <div class="avatar" *ngIf="userID">
        <p-avatar [label]="userInitial" shape="circle" (click)="userMenu.toggle($event)" />
        <p-menu #userMenu [model]="userMenuItems" [popup]="true" appendTo="body" />
      </div>

      <div class="authen" *ngIf="!userID">
        <span class="signIn" (click)="navigateToLogin()">Đăng nhập</span> | <span class="signUp"
          (click)="navigateToRegister()">Đăng ký</span>
      </div>
    </div>
  </div>


</nav>

<!-- Notify Dialog -->
<p-dialog header="Thông báo" [(visible)]="visibleNotify" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <hr>
  <h6>Thông báo mới</h6>
  <div *ngFor="let noti of newNotifications.reverse()" class="d-flex justify-content-between noti-item p-2 my-2">
    <div class="d-flex">
      <div class="noti-icon">
        <p-avatar [label]="noti.senderId.toString().charAt(0)" shape="circle" size="large" />
      </div>
      <div class="noti-content mx-3">
        <div class="noti-text">{{ noti.content }}</div>
        <div class="noti-link">
          <a *ngIf="noti.link" [href]="noti.link" class="">Xem ngay</a>
        </div>
        <div class="noti-time">{{ noti.createdAt | date:'short' }}</div>
      </div>
    </div>
    <div class="noti-action mx-2 " (click)="menu.toggle($event)">
      <p-menu #menu [model]="notifyItems" [popup]="true" appendTo="body" />
      <i class="pi pi-ellipsis-h" (click)="setCurrentNotify(noti)"></i>
    </div>
  </div>
  <div *ngIf="newNotifications.length == 0" class="p-2 text-center">
    Chưa có thông báo nào.
  </div>
  <hr>
  <h6>Thông báo cũ</h6>
  <div *ngFor="let noti of oldNotifications.reverse()" class="d-flex justify-content-between noti-item p-2 my-2">
    <div class="d-flex">
      <div class="noti-icon">
        <p-avatar [label]="noti.senderId.toString().charAt(0)" shape="circle" size="large" />
      </div>
      <div class="noti-content mx-3">
        <div class="noti-text">{{ noti.content }}</div>
        <div class="noti-link">
          <a *ngIf="noti.link" [href]="noti.link" class="">Xem ngay</a>
        </div>
        <div class="noti-time">{{ noti.createdAt | date:'short' }}</div>
      </div>
    </div>
    <div class="noti-action mx-2 " (click)="menu.toggle($event)">
      <p-menu #menu [model]="notifyItems" [popup]="true" appendTo="body" />
      <i class="pi pi-ellipsis-h" (click)="setCurrentNotify(noti)"></i>
    </div>
  </div>
  <div *ngIf="oldNotifications.length == 0" class="p-2 text-center">
    Chưa có thông báo nào.
  </div>
</p-dialog>

<!-- Profile Dialog -->
<div class="card flex justify-center">
  <p-dialog header="Thông tin cá nhân" [(visible)]="visibleUpdateForm" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw' }" [draggable]="false"
    [resizable]="false">
    <div class="member-infor">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 ">
          <h6 class="mt-5"><b>1. Ảnh đại diện</b></h6>
          <div class="d-flex justify-content-start">
            <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-image" accept="image/*" maxFileSize="1000000"
              (onSelect)="onUpload($event)" [auto]="true" chooseLabel="Chọn ảnh chính" />
          </div>
          <div class="mt-3 border">
            <p-image *ngIf="primaryImgDisplay" [src]="primaryImgDisplay" alt="Image" width="100%" [preview]="true" />
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 ">
          <h6 class="mt-5"><b>2. Thông tin cá nhân</b></h6>
          <div class="row">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class="d-flex flex-column">
                <label for="username" class="block mt-3">Họ và tên</label>
                <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="inforMember.username" />
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
              <div class="d-flex flex-column">
                <label for="gender" class="block mt-3">Email</label>
                <input pInputText id="email" aria-describedby="email-help" [(ngModel)]="inforMember.email" />
              </div>
            </div>


            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
              <div class="d-flex flex-column">
                <label for="phone" class="block mt-3">Số điện thoại</label>
                <input pInputText id="phone" aria-describedby="username-help" [(ngModel)]="inforMember.phone" />
              </div>
            </div>


            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
              <div class="d-flex flex-column">
                <label for="dob" class="block mt-3 ">Loại tài khoản</label>
                <div class="d-flex my-2">
                  <div class="flex items-center">
                    <p-radiobutton value="Reader" [(ngModel)]="inforMember.role" inputId="ingredient1" />
                    <label for="ingredient1" class="mx-2">Độc giả</label>
                  </div>

                  <div class="flex items-center ms-5">
                    <p-radiobutton value="Publisher" [(ngModel)]="inforMember.role" inputId="ingredient2" />
                    <label for="ingredient2" class="mx-2">Tác giả</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
              <div class="d-flex flex-column">
                <label for="createdDate" class="block mt-3">Tham gia ngày</label>
                <input pInputText id="createdDate" readonly aria-describedby="date-help" value="{{ inforMember.createdAt | date:'dd-MM-yyyy' }}
                " />
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class="d-flex flex-column" *ngIf="isChangePassword" [@togglePassword]>
                <label for="address" class="block mt-3">Mật khẩu cũ</label>
                <p-password [(ngModel)]="oldPassword" [feedback]="false" [toggleMask]="true"
                  styleClass="w-100 format-input" class=" format-input w-100" />

                <label for="address" class="block mt-3">Mật khẩu mới</label>
                <p-password [(ngModel)]="newPassword" [feedback]="false" [toggleMask]="true"
                  styleClass="w-100 format-input" class=" format-input w-100" />

                <label for="address" class="block mt-3">Xác nhận mật khẩu</label>
                <p-password [(ngModel)]="comfirmPassword" [feedback]="false" [toggleMask]="true"
                  styleClass="w-100 format-input" class=" format-input w-100" />

              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-end mt-5">
                  <p-button label="Đổi mật khẩu" (click)="onChangePassword()" styleClass="w-100 format-input"
                    class=" format-input w-100 me-2" />
                  <p-button label="Cập nhật" (click)="updateMember()" styleClass="w-100 format-input"
                    class=" format-input w-100 ms-2" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</div>


<!-- Reading histories -->
<div class="card flex justify-center">
  <p-dialog [(visible)]="visibleReadingHistoryForm" [modal]="true" [closable]="true" [header]="'Lịch sử đọc truyện'"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw', height: '80vh' }"
    [baseZIndex]="10000">
    <div class="history-range d-flex my-2">
      <div class="me-2">
        <p-tag value="Tất cả" [rounded]="true" [severity]="selectedHistoryFilter === 'all' ? 'success' : 'secondary'"
          (click)="getReadingHistoriesByRange('all')" />
      </div>
      <div class="mx-2">
        <p-tag value="30 ngày trước" [rounded]="true"
          [severity]="selectedHistoryFilter === '30days' ? 'success' : 'secondary'"
          (click)="getReadingHistoriesByRange('30days')" />
      </div>
      <div class="mx-2">
        <p-tag value="7 ngày trước" [rounded]="true"
          [severity]="selectedHistoryFilter === '7days' ? 'success' : 'secondary'"
          (click)="getReadingHistoriesByRange('7days')" />
      </div>
    </div>

    <ng-container *ngIf="historyStories.length > 0; else noData">
      <p-listbox [options]="historyStories.slice().reverse()" optionLabel="title"
        [style]="{width: '100%',height: '85%'}">
        <ng-template let-story pTemplate="item" [style]="{width: '100%',height: '100%'}">
          <div class="d-flex w-100 items-center gap-3 p-2 border-b border-gray-200"
            (click)="navigateToInforStory(story.storyID)">


            <img [src]="story.coverImage" alt="Thumbnail"
              class="rounded-md object-cover shadow-sm border border-gray-300" style="width: 56px; height: 80px;">

            <div>
              <div class="font-semibold text-lg text-gray-800"><b>{{ story.title }}</b></div>
              <div class="text-sm text-gray-500">Lượt xem: {{ story.views }}</div>

              <div class="text-sm text-gray-500"> {{ getTimeAgo(story.lastReadAt )}}</div>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </ng-container>

    <ng-template #noData>
      <div class="text-center p-4">
        <p class="text-gray-500 text-sm">Không có lịch sử đọc.</p>
      </div>
    </ng-template>

    <p-footer class="flex justify-end">
      <button pButton label="Đóng" icon="pi pi-times" class="p-button-text p-button-sm"
        (click)="visibleReadingHistoryForm = false"></button>
    </p-footer>
  </p-dialog>
</div>

<!-- Favorite stories -->
<div class="card flex justify-center">
  <p-dialog [(visible)]="visibleInterestingForm" [modal]="true" [closable]="true" [header]="'Truyện yêu thích'"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '80vw', height: '70vh' }"
    [baseZIndex]="10000">

    <ng-container *ngIf="favoriteStories.length > 0; else noData">
      <p-listbox [options]="favoriteStories.slice().reverse()" optionLabel="title"
        [style]="{width: '100%',height: '100%'}">
        <ng-template let-story pTemplate="item" [style]="{width: '100%',height: '100%'}">
          <div class="favorite-item d-flex justify-content-between align-items-center w-100"
            (click)="navigateToInforStory(story.storyID)">
            <div class="d-flex w-100 items-center gap-3 p-2 border-b border-gray-200">


              <img [src]="story.coverImage" alt="Thumbnail"
                class="rounded-md object-cover shadow-sm border border-gray-300" style="width: 56px; height: 80px;">

              <div>
                <div class="font-semibold text-lg text-gray-800"><b>{{ story.title }}</b></div>
                <div class="text-sm text-gray-500">Lượt xem: {{ story.views }}</div>

                <div class="text-sm text-gray-500">Ngày đăng: {{ getTimeAgo(story.createdAt )}}</div>
              </div>
            </div>
            <div class="favorite-item-icon" (click)="toggleFavorite(story, $event)">
              <i [ngClass]="story.isLiked ? 'pi pi-heart-fill text-danger' : 'pi pi-heart text-gray-400'"></i>
            </div>
          </div>

        </ng-template>
      </p-listbox>
    </ng-container>

    <ng-template #noData>
      <div class="text-center p-4">
        <p class="text-gray-500 text-sm">Không có lịch sử đọc.</p>
      </div>
    </ng-template>

    <p-footer class="flex justify-end">
      <button pButton label="Đóng" icon="pi pi-times" class="p-button-text p-button-sm"
        (click)="visibleReadingHistoryForm = false"></button>
    </p-footer>
  </p-dialog>
</div>


<!-- Filter Dialog -->
<p-dialog header="Lọc truyện" [(visible)]="visibleFilter" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <hr>
  <h6>Loại truyện</h6>
  <div class="filter-item p-2 my-1">
    <div class="d-flex w-100 justify-content-between">
      <p>Truyện tranh</p>
      <p-toggleswitch [(ngModel)]="isMangaFilter" />
    </div>
    <div class="d-flex w-100 justify-content-between">
      <p>Tiểu thuyết</p>
      <p-toggleswitch [(ngModel)]="isNovelFilter" />
    </div>
  </div>

  <hr>
  <h6>Tiêu chí</h6>
  <div class="filter-item p-2 my-1">
    <div class="d-flex w-100 justify-content-between align-items-center my-3">
      <p class="mb-0">Trạng thái</p>
      <p-dropdown [options]="statusOptionsFilter" [(ngModel)]="selectedStatusFilter" optionLabel="label"
        optionValue="value" [style]="{ width: '180px' }" [appendTo]="'body'">
      </p-dropdown>
    </div>

    <div class="d-flex w-100 justify-content-between">
      <p>Nhiều lượt xem nhất</p>
      <p-toggleswitch [(ngModel)]="isHighestViews" />
    </div>
    <div class="d-flex w-100 justify-content-between">
      <p>Đánh giá tốt nhất</p>
      <p-toggleswitch [(ngModel)]="isHighestRates" />
    </div>


    <div class="filter-item d-flex justify-content-between my-3">
      <div class="me-2 w-100">
        <input id="minChapters" type="number" class="form-control" [(ngModel)]="minChapters"
          placeholder="Chương tối thiểu" />
      </div>
      <div class="ms-2 w-100">
        <input id="maxChapters" type="number" class="form-control" [(ngModel)]="maxChapters"
          placeholder="Chương tối đa" />
      </div>
    </div>

  </div>
  <div class="text-end w-100">
    <button pButton type="button" label="Áp dụng" icon="pi pi-check" class="p-button-sm w-100"
      (click)="filterStories()"></button>
  </div>

</p-dialog>
