@use '../../share/variables' as *;

input {
  width: 100%;
}

.social-register i {
  margin: 0 10px;
  cursor: pointer;
}

.pointer {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.pointer:hover {
  color: $primary-color;
}

.social-register i.pi-facebook {
  font-size: 40px;
  color: #3b5998;
}

.social-register i.pi-google {
  font-size: 20px;
  color: #fff;
  background-color: #db4437;
  padding: 10px;
  border-radius: 50%;
}

.social-register i:hover {
  opacity: 0.7;
}

.register-form {
  background: rgba(255, 255, 255, 0.1); /* màu trắng mờ */
  border: 1px solid rgba(255, 255, 255, 0.2); /* viền nhẹ */
  border-radius: 15px;
  padding: 25px;
  backdrop-filter: blur(10px); /* hiệu ứng mờ */
  -webkit-backdrop-filter: blur(10px); /* hỗ trợ Safari */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  color: #fff; /* nếu chữ bị chìm thì cho trắng */
}

.register-container {
  // background-color: #1a1a1a;
  background-image: url('../../../../assets/images/background-login2.png');
  background-size: cover;         /* Cho ảnh phủ kín vùng hiển thị */
  background-repeat: no-repeat;   /* Không lặp ảnh */
  background-position: center;    /* Căn giữa ảnh */
  min-height: 100vh;              /* Đảm bảo chiếm toàn bộ chiều cao màn hình */
  width: 100%;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

