<footer class="container-footer">
  <div class="footer-content d-flex aligh-items-center justify-content-center">
    <div class="footer-logo">
      <img src="../../../assets/images/logo.png" alt="Logo">
    </div>
    <div class="footer-links">
      <a href="#">Trang chủ</a>
      <a href="#">Thể loại</a>
      <a href="#">Liên hệ</a>
      <a href="#">Về chúng tôi</a>
    </div>
    <div class="footer-social">
      <a href="#"><i class="pi pi-facebook"></i></a>
      <a href="#"><i class="pi pi-twitter"></i></a>
      <a href="#"><i class="pi pi-instagram"></i></a>
    </div>
  </div>
  <div class="footer-bottom">
    © 2025 Comic Paradise. All Rights Reserved.
  </div>
</footer>

