<div class="container mb-5 mt-150">
  <div class="my-3">
    <p-panel header="Về chúng tôi">
      <p class="m-0">
        Chúng tôi là một nhóm phát triển phần mềm chuyên nghiệp, cam kết mang lại các giải pháp công nghệ tiên tiến cho khách hàng.
        Với đội ngũ lập trình viên giàu kinh nghiệm, chúng tôi tự tin cung cấp dịch vụ tốt nhất.
      </p>
    </p-panel>
  </div>
  <div class="my-3">
    <p-panel header="Thông tin tài khoản">
      <p class="m-0">
        - Tên tài khoản: Nguyễn Văn A <br>
        - Email: Abc.com <br>
        - Ngày tham gia: 01/01/2023
      </p>
    </p-panel>
  </div>

  <div>
    <p-panel header="Hướng dẫn sử dụng" class="my-3">
      <p class="m-0">
        1. Đăng ký tài khoản bằng email hợp lệ.<br>
        2. Đăng nhập để truy cập đầy đủ chức năng.<br>
        3. Duyệt danh mục và chọn nội dung phù hợp.<br>
        4. Liên hệ hỗ trợ nếu gặp vấn đề.
      </p>
    </p-panel>
  </div>
</div>
