/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

:root {
  // --primary-color: #007bff;
  --background-color-light-mode: #ffffff;
  --text-color: #333333;
  --text-color-dark-mode: #eae6e6;
  --transition-duration: 200ms;
  --primary-color: #4CAF50; // Xanh lá nhạt
  --text-color: #fff;
  --transition-duration: 0.3s;
  --dark-mode-item: #333;
  --text-color-light-mode: #1a1a1a;
}

.dark-theme {
  --primary-color: #4da3ff;
  --background-color: #1a1a1a;
  --text-color: #ffffff;


}

body.dark-mode {
  --shadow-color: rgba(255, 255, 255, 0.15); // Dark mode
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color var(--transition-duration),
    color var(--transition-duration);
}

/* Áp dụng cho PrimeNG */
// .dark-theme .p-speeddial .p-speeddial-action,

.dark-theme .p-select-overlay,
.dark-theme .p-dropdown,
.dark-theme .p-tag-comment,
.dark-theme .p-tree-root-children,
.dark-theme .p-dialog,
.dark-theme .p-panel,
.dark-theme .p-panel .p-panel-title,
.dark-theme .p-card,
.dark-theme p-tabpanels,
.dark-theme .p-tablist-tab-list {
  color: var(--text-color-dark-mode) !important;
  background: var(--dark-mode-item) !important;
}

.dark-theme .p-select-label ,
.dark-theme .comment-item-report,
.dark-theme .comment-item-actions,
.dark-theme .comment-time,
.dark-theme .comment-item-text,
.dark-theme .noti-text{
  color: var(--text-color-dark-mode) !important;
}
.p-tabpanels{
  padding: 0px !important;
}
// megamenu cho thể loại
.p-menu-overlay,
.p-menu-list,
.p-megamenu,
.p-megamenu-overlay,
.p-megamenu-item-link {
  background: #1a1a1a !important;
  border: none !important;
}
.p-menu-list{
  border-radius: 10px;
}
.p-menu-item-label,
.p-megamenu-item-label {
  color: #fff !important;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.p-megamenu-item-label:hover {
  color: #2196F3 !important;
}

.p-menu-item-link:hover .p-menu-item-label{
  color: #1a1a1a !important;
}

.p-megamenu-item-content:hover {
  background: none !important;
}
.p-menu-overlay,
.p-megamenu-overlay {
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3) !important;
}


.dark-theme .highlight-comment {
  background-color: #828080 !important;
}


.dark-theme .nav-icon{
  color:  var(--text-color-dark-mode) !important;
  background: var(--dark-mode-item) !important;
}
.dark-theme .chapter-navigator{
  background: #1a1a1a !important;

}

.dark-theme .p-dropdown .p-select-option{
  color:  var(--text-color) !important;
}

.dark-theme .p-dropdown .p-select-option-selected{
  color:  var(--text-color-light-mode) !important;
  background-color: var(--background-color-light-mode) !important;
}

// .dark-theme .p-speeddial button .p-speeddial-direction-down{
//   color: var(--text-color-dark-mode) !important;
//   background: var(--dark-mode-item) !important;
//   border: var(--dark-mode-item) !important;
// }

.dark-theme .chapter-item {
  background: #545454 !important;
}

.dark-theme .chapter-item  .chapter-time{
  color: var(--text-color-dark-mode) !important;
}
