<p-toast></p-toast>

<div class="reset-container">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-4">
      <div class="reset-form mt-5">
        <div class="d-flex justify-content-center mb-4">
          <h2>Đặt lại mật khẩu</h2>
        </div>
        <form [formGroup]="resetForm">
          <input id="newPassword" type="password" formControlName="newPassword" class="form-control mb-3"
            placeholder="Nhập mật khẩu mới" />
          <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control mb-3"
            placeholder="Xác nhận mật khẩu mới" />
          <div class="w-100 mb-3 mt-5">
            <p-button label="Đặt lại mật khẩu" severity="success" [style]="{width: '100%'}" (onClick)="onSubmit()"></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
