<p-toast />
<div class="container mt-100">
  <div class="row">
    <div class="my-2">
      <div class="slide-container">
        <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000"
          [showNavigators]="false">
          <ng-template let-image let-i="index" pTemplate="item">
            <div class="relative">
              <!-- Skeleton loading khi ảnh chưa load -->
              <p-skeleton *ngIf="!imageLoaded[i]" height="200px"
                styleClass="format-img absolute top-0 left-0 w-full h-full" />

              <!-- Ảnh banner -->
              <img [src]="image" alt="Slide Image" class="format-img" (load)="imageLoaded[i] = true"
                [class.hidden]="!imageLoaded[i]" />
            </div>
            <!-- <img [src]="image" alt="Slide Image" class="format-img"> -->
          </ng-template>
        </p-carousel>
      </div>
    </div>

    <!-- Search and filter stories result -->
    <div class="searchAndFilterStoryArea"
      [ngClass]="{'visible': isSearch || isFilterByConditions || isFilterByCategories}">
      <h4>Kết quả</h4>
      <div class="row">
        <!-- Search -->
        <div *ngFor="let story of searchStories" class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
          <div class="story-item" (click)="navigateToInforStory(story.storyID)">
            <div class="story-item-img">
              <img [src]="story.coverImage" alt="Slide Image">
            </div>
            <div class="story-item-infor d-flex flex-column">
              <div class="story-infor-name ">
                {{story.title}}
              </div>
              <div class="story-infor-chapter ">
                New chapter: {{story.lastestChapter}}
              </div>
              <div class="story-infor-reaction d-flex justify-content-between aligh-items-center">
                <div class="reaction-heart">
                  <i class="pi pi-heart-fill me-2"></i> {{story.likes}}
                </div>
                <div class="reaction-view">
                  <i class="pi pi-eye me-2"></i> {{story.views}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Filter by conditions -->
        <div *ngFor="let story of filterStoryByConditions" class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
          <div class="story-item" (click)="navigateToInforStory(story.storyID)">
            <div class="story-item-img">
              <img [src]="story.coverImage" alt="Slide Image">
            </div>
            <div class="story-item-infor d-flex flex-column">
              <div class="story-infor-name ">
                {{story.title}}
              </div>
              <div class="story-infor-chapter ">
                New chapter: {{story.lastestChapter}}
              </div>
              <div class="story-infor-reaction d-flex justify-content-between aligh-items-center">
                <div class="reaction-heart">
                  <i class="pi pi-heart-fill me-2"></i> {{story.likes}}
                </div>
                <div class="reaction-view">
                  <i class="pi pi-eye me-2"></i> {{story.views}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Filter by categories -->
        <div *ngFor="let story of filterStoryByCategories" class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
          <div class="story-item" (click)="navigateToInforStory(story.storyID)">
            <div class="story-item-img">
              <img [src]="story.coverImage" alt="Slide Image">
            </div>
            <div class="story-item-infor d-flex flex-column">
              <div class="story-infor-name ">
                {{story.title}}
              </div>
              <div class="story-infor-chapter ">
                New chapter: {{story.lastestChapter}}
              </div>
              <div class="story-infor-reaction d-flex justify-content-between aligh-items-center">
                <div class="reaction-heart">
                  <i class="pi pi-heart-fill me-2"></i> {{story.likes}}
                </div>
                <div class="reaction-view">
                  <i class="pi pi-eye me-2"></i> {{story.views}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container my-3" *ngIf="!isSearch || !isFilterByConditions">
      <h5>Cập nhật gần đây</h5>
      <div class="row">
        <!-- Skeleton của mục cập nhật gần đây -->
        <ng-container *ngIf="isLoadingStories">
          <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2" *ngFor="let item of [1,2,3,4,5,6]">
            <div class="story-item d-flex flex-column" style="height: 415px;">
              <div class="story-item-img">
                <p-skeleton height="280px" [style]="{
                  'border-top-left-radius': '8px',
                  'border-top-right-radius': '8px',
                  'border-bottom-left-radius': '0',
                  'border-bottom-right-radius': '0'
                }">
                </p-skeleton>

              </div>
              <div class="story-item-infor d-flex flex-column justify-content-between" style="flex: 1;">
                <div>
                  <div class="mb-2">
                    <p-skeleton width="80%"></p-skeleton>
                  </div>
                  <div class="mb-2">
                    <p-skeleton width="60%"></p-skeleton>
                  </div>
                </div>

                <div class="d-flex justify-content-between">
                  <p-skeleton [style]="{
                      width: '35px',
                      height: '16px',
                      'border-radius': '10px'
                    }">
                  </p-skeleton>
                  <p-skeleton [style]="{
                      width: '35px',
                      height: '16px',
                      'border-radius': '10px'
                    }">
                  </p-skeleton>
                </div>

              </div>

            </div>
          </div>
        </ng-container>
        <!------>

        <div *ngFor="let story of currentUpdateStories" class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
          <div class="story-item" (click)="navigateToInforStory(story.storyID)">
            <div class="story-item-img">
              <img [src]="story.coverImage" alt="Slide Image">
            </div>
            <div class="story-item-infor d-flex flex-column">
              <div class="story-infor-name ">
                {{story.title}}
              </div>
              <div class="story-infor-chapter ">
                New chapter: {{story.lastestChapter}}
              </div>
              <div class="story-infor-reaction d-flex justify-content-between aligh-items-center">
                <div class="reaction-heart">
                  <i class="pi pi-heart-fill me-2"></i> {{story.likes}}
                </div>
                <div class="reaction-view">
                  <i class="pi pi-eye me-2"></i> {{story.views}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <p-tabs [(value)]="selectedTab" (valueChange)="onTabChange($event)">
            <p-tablist>
              <p-tab value="0">Top tháng</p-tab>
              <p-tab value="1">Top tuần</p-tab>
              <p-tab value="2">Top ngày</p-tab>
            </p-tablist>
            <p-tabpanels class="mt-2">
              <!-- Tab Top tháng -->
              <p-tabpanel value="0">
                <!-- Skeleton Top tháng -->
                <div class="row p-3" *ngIf="!topStories || topStories.length === 0">
                  <div class="top-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 px-3"
                    *ngFor="let item of [1, 2, 3, 4]">

                    <!-- Hình ảnh -->
                    <div class="top-item-img me-2">
                      <p-skeleton height="150px" width="120px">
                      </p-skeleton>
                    </div>

                    <!-- Thông tin item -->
                    <div class="top-item-infor d-flex flex-column flex-grow-8">
                      <!-- Tên -->
                      <div class="mb-2 top-infor-name">
                        <p-skeleton width="80%" class="mb-2"></p-skeleton>
                      </div>

                      <!-- Danh mục -->
                      <!-- <div class="mb-2 top-infor-category mb-1 ">
                        <p-skeleton width="30%" class="mb-2" *ngFor="let category of [1, 2]"></p-skeleton>
                        <p-skeleton width="100%" class="mb-2"></p-skeleton>
                      </div> -->

                      <!-- Mô tả -->
                      <div class="mb-2 top-infor-description ">
                        <p-skeleton width="90%" class="mb-2" height="50px"></p-skeleton>
                      </div>

                      <!-- Phản ứng -->
                      <div class="mb-2 top-infor-reaction d-flex justify-content-between align-items-center">
                        <p-skeleton width="35px" height="16px" [style]="{'border-radius': '10px'}"></p-skeleton>
                        <p-skeleton width="35px" height="16px" [style]="{'border-radius': '10px'}"></p-skeleton>
                      </div>

                      <!-- Đọc ngay -->
                      <div class="mb-2 top-infor-read-now text-center d-flex justify-content-end">
                        <p-skeleton width="70px" height="30px" [style]="{'border-radius': '5px'}"></p-skeleton>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row p-3">
                  <div class="top-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 px-3"
                    *ngFor="let story of topStories | slice:0:displayLimit">
                    <div class="top-item-img flex-grow-2 me-2">
                      <img [src]="story.coverImage" alt="Slide Image" class="w-100">
                    </div>
                    <div class="top-item-infor d-flex flex-column flex-grow-8">
                      <div class="top-infor-name">
                        <h6>{{story.title}}</h6>
                      </div>
                      <div class="top-infor-category mb-1 d-flex flex-wrap">
                        <div class="d-flex" *ngFor="let category of story.categories">
                          <p-tag severity="secondary" value="{{category}}" [rounded]="true"
                            class="me-1 mt-1 custom-tag" />
                        </div>
                      </div>
                      <div class="top-infor-description d-flex">
                        <p>{{story.description}}</p>
                      </div>
                      <div class="top-infor-reaction d-flex justify-content-between align-items-center">
                        <div class="reaction-heart">
                          <i class="pi pi-heart-fill"></i> {{story.likes}}
                        </div>
                        <div class="reaction-view">
                          <i class="pi pi-eye"></i> {{story.views}}
                        </div>
                      </div>
                      <div class="top-infor-read-now text-center d-flex justify-content-end"
                        (click)="navigateToInforStory(story.storyID)">
                        <button class="read-now-btn">Đọc Ngay</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="d-flex my-2 top-next align-items-center justify-content-center"
                  *ngIf="topStories && displayLimit < topStories.length">
                  <div class="top-next-icon me-1">
                    <i class="pi pi-angle-down"></i>
                  </div>
                  <div class="top-next-text" (click)="showMore()">
                    Xem thêm
                  </div>
                </div> -->
                <div class="d-flex my-2 top-next align-items-center justify-content-center py-1 mx-3">
                  <div *ngIf="topStories && displayLimit < topStories.length" (click)="showMore()">
                    <i class="pi pi-angle-down"></i> Xem thêm
                  </div>
                  <div *ngIf="displayLimit > 4" (click)="showLess()">
                    <i class="pi pi-angle-up"></i> Thu gọn
                  </div>
                </div>
              </p-tabpanel>

              <!-- Tab Top tuần -->
              <p-tabpanel value="1">
                <!-- Skeleton Top tuần -->
                <div class="row p-3" *ngIf="!topStories || topStories.length === 0">
                  <div class="top-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 px-3"
                    *ngFor="let item of [1, 2, 3, 4]">

                    <!-- Hình ảnh -->
                    <div class="top-item-img me-2">
                      <p-skeleton height="150px" width="120px">
                      </p-skeleton>
                    </div>

                    <!-- Thông tin item -->
                    <div class="top-item-infor d-flex flex-column flex-grow-8">
                      <!-- Tên -->
                      <div class="mb-2 top-infor-name">
                        <p-skeleton width="80%" class="mb-2"></p-skeleton>
                      </div>

                      <!-- Danh mục -->
                      <!-- <div class="mb-2 top-infor-category mb-1 ">
                                        <p-skeleton width="30%" class="mb-2" *ngFor="let category of [1, 2]"></p-skeleton>
                                        <p-skeleton width="100%" class="mb-2"></p-skeleton>
                                      </div> -->

                      <!-- Mô tả -->
                      <div class="mb-2 top-infor-description ">
                        <p-skeleton width="90%" class="mb-2" height="50px"></p-skeleton>
                      </div>

                      <!-- Phản ứng -->
                      <div class="mb-2 top-infor-reaction d-flex justify-content-between align-items-center">
                        <p-skeleton width="35px" height="16px" [style]="{'border-radius': '10px'}"></p-skeleton>
                        <p-skeleton width="35px" height="16px" [style]="{'border-radius': '10px'}"></p-skeleton>
                      </div>

                      <!-- Đọc ngay -->
                      <div class="mb-2 top-infor-read-now text-center d-flex justify-content-end">
                        <p-skeleton width="70px" height="30px" [style]="{'border-radius': '5px'}"></p-skeleton>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row p-3">
                  <div class="top-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 px-3"
                    *ngFor="let story of topStories | slice:0:displayLimit">
                    <div class="top-item-img flex-grow-2 me-2">
                      <img [src]="story.coverImage" alt="Slide Image" class="w-100">
                    </div>
                    <div class="top-item-infor d-flex flex-column flex-grow-8">
                      <div class="top-infor-name">
                        <h6>{{story.title}}</h6>
                      </div>
                      <div class="top-infor-category mb-1 d-flex">
                        <div class="d-flex" *ngFor="let category of story.categories">
                          <p-tag severity="secondary" value="{{category}}" [rounded]="true"
                            class="me-1 mt-1 custom-tag" />
                        </div>
                      </div>
                      <div class="top-infor-description d-flex">
                        <p>{{story.description}}</p>
                      </div>
                      <div class="top-infor-reaction d-flex justify-content-between align-items-center">
                        <div class="reaction-heart">
                          <i class="pi pi-heart-fill"></i> {{story.likes}}
                        </div>
                        <div class="reaction-view">
                          <i class="pi pi-eye"></i> {{story.views}}
                        </div>
                      </div>
                      <div class="top-infor-read-now text-center d-flex justify-content-end"
                        (click)="navigateToInforStory(story.storyID)">
                        <button class="read-now-btn">Đọc Ngay</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="d-flex my-2 top-next align-items-center justify-content-center"
                  *ngIf="topStories && displayLimit < topStories.length">
                  <div class="top-next-icon me-1">
                    <i class="pi pi-angle-down"></i>
                  </div>
                  <div class="top-next-text" (click)="showMore()">
                    Xem thêm
                  </div>
                </div> -->
                <div class="d-flex my-2 top-next align-items-center justify-content-center py-1 mx-3">
                  <div *ngIf="topStories && displayLimit < topStories.length" (click)="showMore()">
                    <i class="pi pi-angle-down"></i> Xem thêm
                  </div>
                  <div *ngIf="displayLimit > 4" (click)="showLess()">
                    <i class="pi pi-angle-up"></i> Thu gọn
                  </div>
                </div>
              </p-tabpanel>

              <!-- Tab Top ngày -->
              <p-tabpanel value="2">
                <!-- Skeleton Top ngày -->
                <div class="row p-3" *ngIf="!topStories || topStories.length === 0">
                  <div class="top-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 px-3"
                    *ngFor="let item of [1, 2, 3, 4]">

                    <!-- Hình ảnh -->
                    <div class="top-item-img me-2">
                      <p-skeleton height="150px" width="120px">
                      </p-skeleton>
                    </div>

                    <!-- Thông tin item -->
                    <div class="top-item-infor d-flex flex-column flex-grow-8">
                      <!-- Tên -->
                      <div class="mb-2 top-infor-name">
                        <p-skeleton width="80%" class="mb-2"></p-skeleton>
                      </div>

                      <!-- Danh mục -->
                      <!-- <div class="mb-2 top-infor-category mb-1 ">
                                        <p-skeleton width="30%" class="mb-2" *ngFor="let category of [1, 2]"></p-skeleton>
                                        <p-skeleton width="100%" class="mb-2"></p-skeleton>
                                      </div> -->

                      <!-- Mô tả -->
                      <div class="mb-2 top-infor-description ">
                        <p-skeleton width="90%" class="mb-2" height="50px"></p-skeleton>
                      </div>

                      <!-- Phản ứng -->
                      <div class="mb-2 top-infor-reaction d-flex justify-content-between align-items-center">
                        <p-skeleton width="35px" height="16px" [style]="{'border-radius': '10px'}"></p-skeleton>
                        <p-skeleton width="35px" height="16px" [style]="{'border-radius': '10px'}"></p-skeleton>
                      </div>

                      <!-- Đọc ngay -->
                      <div class="mb-2 top-infor-read-now text-center d-flex justify-content-end">
                        <p-skeleton width="70px" height="30px" [style]="{'border-radius': '5px'}"></p-skeleton>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row p-3">
                  <div class="top-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 px-3"
                    *ngFor="let story of topStories | slice:0:displayLimit">
                    <div class="top-item-img flex-grow-2 me-2">
                      <img [src]="story.coverImage" alt="Slide Image" class="w-100">
                    </div>
                    <div class="top-item-infor d-flex flex-column flex-grow-8">
                      <div class="top-infor-name">
                        <h6>{{story.title}}</h6>
                      </div>
                      <div class="top-infor-category mb-1 d-flex">
                        <div class="d-flex" *ngFor="let category of story.categories">
                          <p-tag severity="secondary" value="{{category}}" [rounded]="true"
                            class="me-1 mt-1 custom-tag" />
                        </div>
                      </div>
                      <div class="top-infor-description d-flex">
                        <p>{{story.description}}</p>
                      </div>
                      <div class="top-infor-reaction d-flex justify-content-between align-items-center">
                        <div class="reaction-heart">
                          <i class="pi pi-heart-fill"></i> {{story.likes}}
                        </div>
                        <div class="reaction-view">
                          <i class="pi pi-eye"></i> {{story.views}}
                        </div>
                      </div>
                      <div class="top-infor-read-now text-center d-flex justify-content-end"
                        (click)="navigateToInforStory(story.storyID)">
                        <button class="read-now-btn">Đọc Ngay</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex my-2 top-next align-items-center justify-content-center py-1 mx-3">
                  <div *ngIf="topStories && displayLimit < topStories.length" (click)="showMore()">
                    <i class="pi pi-angle-down"></i> Xem thêm
                  </div>
                  <div *ngIf="displayLimit > 4" (click)="showLess()">
                    <i class="pi pi-angle-up"></i> Thu gọn
                  </div>
                </div>
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
        </div>
      </div>

      <h5 class="mt-5">Truyện đề cử</h5>
      <div class="row">

        <!-- Skeleton của mục truyện đề cử -->
        <ng-container *ngIf="isLoadingStories">
          <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2" *ngFor="let item of [1,2,3,4,5,6]">
            <div class="story-item d-flex flex-column" style="height: 415px;">
              <div class="story-item-img">
                <p-skeleton height="280px" [style]="{
                  'border-top-left-radius': '8px',
                  'border-top-right-radius': '8px',
                  'border-bottom-left-radius': '0',
                  'border-bottom-right-radius': '0'
                }">
                </p-skeleton>

              </div>
              <div class="story-item-infor d-flex flex-column justify-content-between" style="flex: 1;">
                <div>
                  <div class="mb-2">
                    <p-skeleton width="80%"></p-skeleton>
                  </div>
                  <div class="mb-2">
                    <p-skeleton width="60%"></p-skeleton>
                  </div>
                </div>

                <div class="d-flex justify-content-between">
                  <p-skeleton [style]="{
                      width: '35px',
                      height: '16px',
                      'border-radius': '10px'
                    }">
                  </p-skeleton>
                  <p-skeleton [style]="{
                      width: '35px',
                      height: '16px',
                      'border-radius': '10px'
                    }">
                  </p-skeleton>
                </div>

              </div>

            </div>
          </div>
        </ng-container>
        <!------>

        <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 " *ngFor="let story of advanceStories">
          <div class="story-item" (click)="navigateToInforStory(story.storyID)">
            <div class="story-item-img">
              <img [src]="story.coverImage" alt="Slide Image">
            </div>
            <div class="story-item-infor d-flex flex-column">
              <div class="story-infor-name ">
                {{story.title}}
              </div>
              <div class="story-infor-chapter ">
                New chapter: {{story.lastestChapter}}
              </div>
              <div class="story-infor-reaction d-flex justify-content-between aligh-items-center">
                <div class="reaction-heart">
                  <i class="pi pi-heart-fill me-2"></i> {{story.likes}}
                </div>
                <div class="reaction-view">
                  <i class="pi pi-eye me-2"></i> {{story.views}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h5 class="mt-5">Tiểu thuyết</h5>
      <div class="row">
        <!-- Skeleton của mục cập nhật gần đây -->
        <ng-container *ngIf="isLoadingStories">
          <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2" *ngFor="let item of [1,2,3,4,5,6]">
            <div class="story-item d-flex flex-column" style="height: 415px;">
              <div class="story-item-img">
                <p-skeleton height="280px" [style]="{
                  'border-top-left-radius': '8px',
                  'border-top-right-radius': '8px',
                  'border-bottom-left-radius': '0',
                  'border-bottom-right-radius': '0'
                }">
                </p-skeleton>

              </div>
              <div class="story-item-infor d-flex flex-column justify-content-between" style="flex: 1;">
                <div>
                  <div class="mb-2">
                    <p-skeleton width="80%"></p-skeleton>
                  </div>
                  <div class="mb-2">
                    <p-skeleton width="60%"></p-skeleton>
                  </div>
                </div>

                <div class="d-flex justify-content-between">
                  <p-skeleton [style]="{
                      width: '35px',
                      height: '16px',
                      'border-radius': '10px'
                    }">
                  </p-skeleton>
                  <p-skeleton [style]="{
                      width: '35px',
                      height: '16px',
                      'border-radius': '10px'
                    }">
                  </p-skeleton>
                </div>

              </div>

            </div>
          </div>
        </ng-container>
        <!------>

        <div *ngFor="let story of novelStories?.items" class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
          <div class="story-item" (click)="navigateToInforStory(story.storyID)">
            <div class="story-item-img">
              <img [src]="story.coverImage" alt="Slide Image">
            </div>
            <div class="story-item-infor d-flex flex-column">
              <div class="story-infor-name ">
                {{story.title}}
              </div>
              <div class="story-infor-chapter ">
                New chapter: {{story.lastestChapter}}
              </div>
              <div class="story-infor-reaction d-flex justify-content-between aligh-items-center">
                <div class="reaction-heart">
                  <i class="pi pi-heart-fill me-2"></i> {{story.likes}}
                </div>
                <div class="reaction-view">
                  <i class="pi pi-eye me-2"></i> {{story.views}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <p-scrolltop /> -->

<!-- Chatbot -->
<app-chatbot></app-chatbot>

