<div class="container mt-150">
  <div class="row">
    <div class="my-2">
      <div class="slide-container">
        <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000"
          [showNavigators]="false">
          <ng-template let-image pTemplate="item">
            <img [src]="image" alt="Slide Image" class="format-img">
          </ng-template>
        </p-carousel>
      </div>
    </div>

    <div class="searchStoryArea" [ngClass]="{'visible': isSearch}">
      <div class="row">
        <div *ngFor="let story of searchStories" class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
          <div class="story-item" (click)="navigateToInforStory(story.storyID)">
            <div class="story-item-img">
              <img [src]="story.coverImage" alt="Slide Image">
            </div>
            <div class="story-item-infor d-flex flex-column">
              <div class="story-infor-name ">
                {{story.title}}
              </div>
              <div class="story-infor-chapter ">
                New chapter: {{story.lastestChapter}}
              </div>
              <div class="story-infor-reaction d-flex justify-content-between aligh-items-center">
                <div class="reaction-heart">
                  <i class="pi pi-heart-fill me-2"></i> {{story.likes}}
                </div>
                <div class="reaction-view">
                  <i class="pi pi-eye me-2"></i> {{story.views}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container my-3" *ngIf="!isSearch">
      <h5 class="mt-5">Truyện đề cử</h5>
      <div class="row">
        <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 " *ngFor="let story of advanceStories">
          <div class="story-item" (click)="navigateToInforStory(story.storyID)">
            <div class="story-item-img">
              <img [src]="story.coverImage" alt="Slide Image">
            </div>
            <div class="story-item-infor d-flex flex-column">
              <div class="story-infor-name ">
                {{story.title}}
              </div>
              <div class="story-infor-chapter ">
                New chapter: {{story.lastestChapter}}
              </div>
              <div class="story-infor-reaction d-flex justify-content-between aligh-items-center">
                <div class="reaction-heart">
                  <i class="pi pi-heart-fill me-2"></i> {{story.likes}}
                </div>
                <div class="reaction-view">
                  <i class="pi pi-eye me-2"></i> {{story.views}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <p-tabs [(value)]="selectedTab" (valueChange)="onTabChange($event)">
            <p-tablist>
              <p-tab value="0">Top tháng</p-tab>
              <p-tab value="1">Top tuần</p-tab>
              <p-tab value="2">Top ngày</p-tab>
            </p-tablist>
            <p-tabpanels class="mt-2">
              <!-- Tab Top tháng -->
              <p-tabpanel value="0">
                <div class="row p-3">
                  <div class="top-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 px-3"
                    *ngFor="let story of topStories | slice:0:displayLimit">
                    <div class="top-item-img flex-grow-2 me-2">
                      <img [src]="story.coverImage" alt="Slide Image" class="w-100">
                    </div>
                    <div class="top-item-infor d-flex flex-column flex-grow-8">
                      <div class="top-infor-name">
                        <h6>{{story.title}}</h6>
                      </div>
                      <div class="top-infor-category mb-1 d-flex flex-wrap">
                        <div class="d-flex" *ngFor="let category of story.categories">
                          <p-tag severity="secondary" value="{{category}}" [rounded]="true"
                            class="me-1 mt-1 custom-tag" />
                        </div>
                      </div>
                      <div class="top-infor-description d-flex">
                        <p>{{story.description}}</p>
                      </div>
                      <div class="top-infor-reaction d-flex justify-content-between align-items-center">
                        <div class="reaction-heart">
                          <i class="pi pi-heart-fill"></i> {{story.likes}}
                        </div>
                        <div class="reaction-view">
                          <i class="pi pi-eye"></i> {{story.views}}
                        </div>
                      </div>
                      <div class="top-infor-read-now text-center d-flex justify-content-end">
                        <button class="read-now-btn">Đọc Ngay</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex my-2 top-next align-items-center justify-content-center"
                  *ngIf="topStories && displayLimit < topStories.length">
                  <div class="top-next-icon me-1">
                    <i class="pi pi-angle-down"></i>
                  </div>
                  <div class="top-next-text" (click)="showMore()">
                    Xem thêm
                  </div>
                </div>
              </p-tabpanel>

              <!-- Tab Top tuần -->
              <p-tabpanel value="1">
                <div class="row p-3">
                  <div class="top-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 px-3"
                    *ngFor="let story of topStories | slice:0:displayLimit">
                    <div class="top-item-img flex-grow-2 me-2">
                      <img [src]="story.coverImage" alt="Slide Image" class="w-100">
                    </div>
                    <div class="top-item-infor d-flex flex-column flex-grow-8">
                      <div class="top-infor-name">
                        <h6>{{story.title}}</h6>
                      </div>
                      <div class="top-infor-category mb-1 d-flex">
                        <div class="d-flex" *ngFor="let category of story.categories">
                          <p-tag severity="secondary" value="{{category}}" [rounded]="true"
                            class="me-1 mt-1 custom-tag" />
                        </div>
                      </div>
                      <div class="top-infor-description d-flex">
                        <p>{{story.description}}</p>
                      </div>
                      <div class="top-infor-reaction d-flex justify-content-between align-items-center">
                        <div class="reaction-heart">
                          <i class="pi pi-heart-fill"></i> {{story.likes}}
                        </div>
                        <div class="reaction-view">
                          <i class="pi pi-eye"></i> {{story.views}}
                        </div>
                      </div>
                      <div class="top-infor-read-now text-center d-flex justify-content-end">
                        <button class="read-now-btn">Đọc Ngay</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex my-2 top-next align-items-center justify-content-center"
                  *ngIf="topStories && displayLimit < topStories.length">
                  <div class="top-next-icon me-1">
                    <i class="pi pi-angle-down"></i>
                  </div>
                  <div class="top-next-text" (click)="showMore()">
                    Xem thêm
                  </div>
                </div>
              </p-tabpanel>

              <!-- Tab Top ngày -->
              <p-tabpanel value="2">
                <div class="row p-3">
                  <div class="top-item col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 px-3"
                    *ngFor="let story of topStories | slice:0:displayLimit">
                    <div class="top-item-img flex-grow-2 me-2">
                      <img [src]="story.coverImage" alt="Slide Image" class="w-100">
                    </div>
                    <div class="top-item-infor d-flex flex-column flex-grow-8">
                      <div class="top-infor-name">
                        <h6>{{story.title}}</h6>
                      </div>
                      <div class="top-infor-category mb-1 d-flex">
                        <div class="d-flex" *ngFor="let category of story.categories">
                          <p-tag severity="secondary" value="{{category}}" [rounded]="true"
                            class="me-1 mt-1 custom-tag" />
                        </div>
                      </div>
                      <div class="top-infor-description d-flex">
                        <p>{{story.description}}</p>
                      </div>
                      <div class="top-infor-reaction d-flex justify-content-between align-items-center">
                        <div class="reaction-heart">
                          <i class="pi pi-heart-fill"></i> {{story.likes}}
                        </div>
                        <div class="reaction-view">
                          <i class="pi pi-eye"></i> {{story.views}}
                        </div>
                      </div>
                      <div class="top-infor-read-now text-center d-flex justify-content-end">
                        <button class="read-now-btn">Đọc Ngay</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex my-2 top-next align-items-center justify-content-center py-1 mx-3">
                  <div *ngIf="topStories && displayLimit < topStories.length" (click)="showMore()">
                    <i class="pi pi-angle-down"></i> Xem thêm
                  </div>
                  <div *ngIf="displayLimit > 4" (click)="showLess()">
                    <i class="pi pi-angle-up"></i> Thu gọn
                  </div>
                </div>
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
        </div>
      </div>

      <h5>Cập nhật gần đây</h5>
      <div class="row">
        <div *ngFor="let story of currentUpdateStories" class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
          <div class="story-item" (click)="navigateToInforStory(story.storyID)">
            <div class="story-item-img">
              <img [src]="story.coverImage" alt="Slide Image">
            </div>
            <div class="story-item-infor d-flex flex-column">
              <div class="story-infor-name ">
                {{story.title}}
              </div>
              <div class="story-infor-chapter ">
                New chapter: {{story.lastestChapter}}
              </div>
              <div class="story-infor-reaction d-flex justify-content-between aligh-items-center">
                <div class="reaction-heart">
                  <i class="pi pi-heart-fill me-2"></i> {{story.likes}}
                </div>
                <div class="reaction-view">
                  <i class="pi pi-eye me-2"></i> {{story.views}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
